<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title == "Home" %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.title == 'Home' %}{{ site.desc }}{% else %}{{ page.desc }}{% endif %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="canonical" href="{{ site.url }}/{{ page.permalink | replace:'index.html',''}}">
    
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
    <!-- Core JavaScript -->
    <script type="text/javascript" src="js/core.js?v=1"></script>
    
  </head>
  
  <body class="fixed-sn elegant-white-skin">
    <header>
      <nav class="navbar navbar-fixed-top double-nav">
        <a class = "pull-left ml-1" style="margin-top:5px" href = "{{ site.baseurl }}/"><h1>HYIP Milker</h1></a>
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item login-btn">
            <a class="btn btn-primary orange px-1 small-buttons" data-toggle="modal" data-target="#login_modal">Login <i class="fa fa-sign-in "></i></a>
          </li>
          <li class="nav-item register-btn">
            <a class="btn btn-primary green px-1 small-buttons" data-toggle="modal" data-target="#register_modal">Register <i class="fa fa-user-plus "></i></a>
          </li>
          <li class="nav-item dashboard-btn">
            <a class="btn btn-primary blue px-1 small-buttons" href = "/dashboard.html">Dashboard <i class="fa fa-cube "></i></a>
          </li>
          <li class="nav-item account-btn">
            <a class="btn btn-primary default-color px-1 small-buttons" data-toggle="modal" data-target="#account_modal">Account <i class="fa fa-user "></i></a>
          </li>
          <li class="nav-item logout-btn">
            <a class="btn btn-primary danger-color px-1 small-buttons" onclick = "setCookie('token','',0);window.location='/';">Logout <i class="fa fa-sign-out "></i></a>
          </li>
        </ul>
      </nav>
      <script>checkCookie();</script>
    </header>

  <form id = "login_form" method = "post" action = "{{site.ngrok}}/login.php">
    <div class="modal fade " style = "padding-top:50px;" id="login_modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="mx-auto float-xs-none">
          <div class="card">
            <div class="card-block">
            
              <div class="form-header">
                <h3><i class="fa fa-lock"></i> Login</h3>
              </div>

              <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input type="text" id="usernameoremail" name = "usernameoremail" class="form-control">
                <label for="usernameoremail">Username or e-mail</label>
              </div>

              <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="password" id="login_password" name = "password" class="form-control">
                <label for="login_password">Password</label>
              </div>

              
              <div class="modal-footer">
                <a data-dismiss="modal" data-toggle="modal" data-target="#forgot_modal">I forgot my password</a>
                <button class="btn btn-primary green px-1" >Login <i class="fa fa-sign-in ml-1"></i></button>
                <a class="btn btn-default red px-1"  data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class = "fa fa-times"></i></a>
              </div>
              
              <div class = "text-xs-center"><span id = "login_return" class = "lead"></span></div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>


  <form id = "forgot_form" method = "post" action = "{{site.ngrok}}/forgotpass.php">
    <div class="modal fade " style = "padding-top:50px;" id="forgot_modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="mx-auto float-xs-none">
          <div class="card">
            <div class="card-block">
            
              <div class="form-header">
                <h3><i class="fa fa-lock"></i> Password Reset </h3>
              </div>

              <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input type="text" id="forgot_email" name="forgot_email" class="form-control">
                <label for="forgot_email">E-mail</label>
              </div>

              <div class="modal-footer">
                <button class="btn btn-primary green px-1">Reset password</button>
                <a class="btn btn-default red px-1" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class = "fa fa-times"></i></a>
              </div>
              
              <div class = "text-xs-center"><span id = "password_return" class = "lead"></span></div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form id = "account_form" method = "post" action = "{{site.ngrok}}/account.php">
    <div class="modal fade " style = "padding-top:50px;" id="account_modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="mx-auto float-xs-none">
          <div class="card">
            <div class="card-block">
            
              <div class="form-header">
                <h3><i class="fa fa-user"></i> Account Details </h3>
              </div>

                  <div style = "width:50%; float:left">
                    <div style = "padding:10px; margin-top:10px;">Username</div>
                    <div style = "padding:10px; margin-top:10px;">Email</div>
                    <div style = "padding:10px; margin-top:10px;">BTC Address</div>
                  </div>
                  <div style = "width:50%; float:left">
                    <div style = "padding:5px; margin-top:10px;">qwe</div>
                    <div style = "padding:5px; margin-top:10px;">qwe@asda.sad</div>
                    <div style = "padding:5px; margin-top:10px;"><input type="text" id="up_account_btc" name="up_account_btc"></div>
                  </div>
                  <div style = "width:100%;    clear: both;    padding-top: 20px;">
                    Type new password only if you want to change it.
                  </div>
                  <div style = "width:50%; float:left">
                    <div style = "padding:10px; margin-top:10px;">Password</div>
                    <div style = "padding:10px; margin-top:10px;">Password Again</div>
                  </div>
                  <div style = "width:50%; float:left">
                    <div style = "padding:5px; margin-top:10px;"><input type="text" id="up_account_pass1" name="up_account_pass1"></div>
                    <div style = "padding:5px; margin-top:10px;"><input type="text" id="up_account_pass2" name="up_account_pass2"></div>
                  </div>
                  

              <div class="modal-footer">
                <button class="btn btn-primary green px-1">UPDATE <i class = "fa fa-floppy-o ml-1"></i></button>
                <a class="btn btn-default danger-color px-1" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class = "fa fa-times"></i></a>
              </div>
              
              <div class = "text-xs-center"><span id = "account_return" class = "lead"></span></div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>


  <form id = "register_form" method = "post" action = "{{site.ngrok}}/register.php">
    <div class="modal fade " style = "padding-top:40px;" id="register_modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="mx-auto float-xs-none">
          <div class="card">
            <div class="card-block">
            
              <div class="form-header">
                <h3><i class="fa fa-lock"></i> Register</h3>
              </div>

              <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="register_username" name="register_username" class="form-control">
                <label for="register_username">Username</label>
              </div>

              <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input type="text" id="register_email" name="register_email" class="form-control">
                <label for="register_email">E-mail</label>
              </div>

              <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="password" id="register_password" name="register_password" class="form-control">
                <label for="register_password">Password</label>
              </div>
              
              <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="password" id="register_password2" name="register_password2" class="form-control">
                <label for="register_password2">Password Again</label>
              </div>

              <input type="hidden" id="referrer_username" name = "referrer_username" value = "test">
              
              <div class="modal-footer">
                <button class="btn btn-primary green px-1" >Register <i class="fa fa-user-plus ml-1"></i></button>
                <a class="btn btn-default red px-1" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class = "fa fa-times"></i></a>
              </div>
              
              <div class = "text-xs-center"><span id = "register_return" class = "lead"></span></div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>


  {{ content }}



  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/tether.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>

  </body>
</html>